<section id="features" class="w-full max-w-screen-xl mx-auto p-4">
  <h2 class="text-4xl text-center font-medium mb-12">مميزات المشروع</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <p-card>
      <div class="flex flex-col items-center gap-4 py-[44.5px] px-[50px]">
        <img class="w-[60px] h-[60px] mx-auto" src="/images/rocket-icon.svg" />
        <h3 class="text-base font-medium">هنا عنوان فرعي</h3>
        <p class="text-center text-muted-color">
          لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة
        </p>
      </div>
    </p-card>
    <p-card>
      <div class="flex flex-col items-center gap-4 py-[44.5px] px-[50px]">
        <img class="w-[60px] h-[60px] mx-auto" src="/images/rocket-icon.svg" />
        <h3 class="text-base font-medium">هنا عنوان فرعي</h3>
        <p class="text-center text-muted-color">
          لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة
        </p>
      </div>
    </p-card>
    <p-card>
      <div class="flex flex-col items-center gap-4 py-[44.5px] px-[50px]">
        <img class="w-[60px] h-[60px] mx-auto" src="/images/rocket-icon.svg" />
        <h3 class="text-base font-medium">هنا عنوان فرعي</h3>
        <p class="text-center text-muted-color">
          لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة
        </p>
      </div>
    </p-card>
    <p-card>
      <div class="flex flex-col items-center gap-4 py-[44.5px] px-[50px]">
        <img class="w-[60px] h-[60px] mx-auto" src="/images/rocket-icon.svg" />
        <h3 class="text-base font-medium">هنا عنوان فرعي</h3>
        <p class="text-center text-muted-color">
          لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل الوثيقة
        </p>
      </div>
    </p-card>
  </div>
</section>
