<section class="mb-4">
  <div class="bg-neutral-200 w-full mx-auto p-4 pb-64 overflow-hidden">
    <div class="relative flex flex-col gap-6 max-w-screen-xl mx-auto">
      <img
        class="absolute left-0 top-auto bottom-auto w-42 md:w-64 h-[512px] object-fill"
        src="/images/grids-1.svg"
      />
      <img
        class="absolute right-0 top-auto bottom-auto w-42 md:w-64 h-[512px] object-fill"
        src="/images/grids-2.svg"
      />
      <h1
        class="relative text-center text-5xl mt-16 md:text-7xl font-semibold text-primary"
      >
        المشروع
      </h1>
      <p class="relative text-center text-muted-color">
        لكن لا بد أن أوضح لك أن كل هذه الأفكار المغلوطة حول استنكار النشوة
        وتمجيد الألم نشأت بالفعل، وسأعرض لك التفاصيل لتكتشف حقيقة وأساس تلك
        السعادة البشرية، فلا أحد يرفض أو يكره أو يتجنب الشعور بالسعادة
      </p>
    </div>
  </div>

  <div class="relative -top-60 w-full max-w-screen-xl mx-auto mb-[-25vh] p-4">
    <img class="max-w-3xl w-full mx-auto" src="/images/screenshot.png" />
  </div>
</section>
