<main class="min-h-screen flex">
  <div class="flex-[3] hidden md:flex bg-black/70 text-white">Logo</div>
  <div class="flex-[4] bg-surface-100 flex items-center justify-center p-4">
    <form class="flex flex-col gap-4 max-w-sm w-full">
      <div class="flex items-center gap-6">
        <a routerLink="/">
          <p-button class="flex">
            <ng-template pTemplate="icon">
              <ng-icon name="heroArrowRight" />
            </ng-template>
          </p-button>
        </a>
        <h3 class="text-2xl text-primary font-medium drop-shadow-sm">
          تسجيل دخول
        </h3>
      </div>
      <div class="flex flex-col gap-2">
        <label for="id">رقم الهوية</label>
        <input placeholder="رقم الهوية الخاصة بك" id="id" pInputText />
      </div>
      <div class="flex flex-col gap-2 w-full">
        <label for="passowrd">كلمة المرور</label>
        <p-password
          id="password"
          size="small"
          class="w-full"
          styleClass="w-full"
          inputStyleClass="w-full"
          dir="rtl"
          [toggleMask]="true"
          [feedback]="false"
        >
          <ng-template pTemplate="hideicon">
            <ng-icon
              class="absolute left-2 top-0 bottom-0 my-auto"
              name="heroEyeSlash"
            />
          </ng-template>
          <ng-template pTemplate="showicon">
            <ng-icon
              class="absolute left-2 top-0 bottom-0 my-auto"
              name="heroEye"
            />
          </ng-template>
        </p-password>
      </div>
      <a class="mr-auto" routerLink="/forgot-password">
        <p-button styleClass="!p-1" [text]="true" severity="secondary"
          >نسيت كلمة المرور؟</p-button
        >
      </a>
      <p-button class="w-full" styleClass="w-full">
        تسجيل دخول
        <ng-icon name="heroChevronLeft" />
      </p-button>
    </form>
  </div>
</main>
